<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intel.hid_kb_test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.intel.hid_kb_test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.hid_kb_test.GenPasswordActivity"
            android:label="Generate Password" >
            <intent-filter>
                <action android:name="android.intent.action.GenPassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.hid_kb_test.NewRecordActivity"
            android:label="New Record"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.NewRecord" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.hid_kb_test.SendMessageActivity"
            android:label="SendMessage"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"  >
            <intent-filter>
                <action android:name="android.intent.action.SendMessage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.hid_kb_test.EditRecordActivity"
            android:label="Edit Record"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"  >
            <intent-filter>
                <action android:name="android.intent.action.EditRecord" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
